coverage
.idea
.env
.DS_Store
node_modules
src/static
dist
temp
.sass-cache
*.css.map
webpack-assets.json
webpack-stats.json
loadable-modules.json
logs
*.log
*.sublime-workspace
*untracked*
.nyc_output

.pnp.js
coverage
build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
