$roboto-regular: 'Roboto Regular';
$roboto-bold: 'Roboto Bold';
$sans-regular: 'Open Sans';
$sans-bold: 'Open Sans Bold';

$font-color: #444;
$info-blue: #0e8dce;
$error-red: #af0000;
$good-green: #066506;
$border-grey: #8e7f7f;
$link-color: #028802;
$active-color: #055605;

$river-bed: #434c5d;
$black: #000;
$white: #fff;
$mischka: #d4d9e2;
$alizarin-crimson: #d72130;
$ghost: #c6ccd7;
$aluminium: #a6a9af;

$max-mobile-width: 767px;
