@import '../../styles/vars.scss';

.logo {
  width: 253px;
  height: 83px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: $sans-regular;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  color: $rose-white;
  text-align: center;
  text-decoration: none;
  background: $alizarin-crimson;
}
