@import '../../styles/vars.scss';

.unathourized-wrapper {
  position: relative;
  height: 100vh;

  .unathourized-layout {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    height: 100%;

    .bg-img {
      flex: 0 1 40%;
      background: url('../../assets/img/unathorized-background.png') no-repeat;
      background-size: cover;

      @media screen and (max-width: $max-mobile-width) {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }

    .page-content {
      position: relative;
      display: flex;
      align-items: center;
      flex: 0 1 60%;
      justify-content: center;

      @media screen and (max-width: $max-mobile-width) {
        flex-basis: 100%;
        background: $black-8;
      }
    }
  }

}

.unathourized-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .btn-wrapper {
    margin-right: 56px;

    @media screen and (max-width: $max-mobile-width) {
      display: none;
    }

    .btn {
      padding-right: 30px;
      padding-left: 30px;
      font-family: $sans-regular;
      font-size: 12px;
      font-style: normal;
      line-height: 17px;
    }

    .btn-link {
      color: $river-bed;
    }

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .logo {
    @media screen and (max-width: $max-mobile-width) {
      width: 100%;
    }
  }
}
