@import '../../../styles/vars';

.registrationWrapper {

  .socialIcons {
    margin-bottom: 20px;

    // sass-lint:disable nesting-depth
    svg {
      width: 32px;
      height: 32px;
      cursor: url('../../../assets/img/cursor.png'), auto;

      path {
        @media screen and (max-width: $max-mobile-width) {
          fill: $white;
        }
      }

      &:first-of-type {
        margin-right: 10px;
      }

      &:hover {
        path {
          fill: $alizarin-crimson;
        }
      }

      &.facebookIcon {
        &:hover {
          path {
            &:first-of-type {
              stroke: $alizarin-crimson;
              fill: $white;
            }
          }
        }

        path {
          &:first-of-type {
            @media screen and (max-width: $max-mobile-width) {
              stroke: $white;
              fill: $black;
            }
          }
        }
      }
    }
  }
}
