.formWrapper {
  h1 {
    font-size: 24px;
    line-height: 33px;
    color: black;
  }

  legend {
    font-size: 12px;
    line-height: 16px;
    color: #434C5D;
  }

  label {
    font-size: 10px;
    line-height: 11px;
    letter-spacing: 0.9px;
    color: #434C5D;
    text-transform: uppercase;
  }

  input {
    &:not([type='submit']) {
      padding: 5px;
      font-size: 12px;
      line-height: 16px;
      border: 1px solid #D4D9E2;

      &::-webkit-input-placeholder {
        color: #C6CCD7;
      }
    }

    &[type='submit'] {
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.8px;
      color: white;
      text-transform: uppercase;
      background: #D72130;
    }
  }
}
