$roboto-regular: 'Roboto Regular';
$roboto-bold: 'Roboto Bold';
$sans-regular: 'Open Sans';
$sans-bold: 'Open Sans Bold';

$river-bed: #434c5d;
$black: #000;
$white: #fff;
$mischka: #d4d9e2;
$alizarin-crimson: #d72130;
$ghost: #c6ccd7;
$aluminium: #a6a9af;
$silver-chalice: #b2b2b2;
$flush-mahogany: #c63638;
$rose-white: #FFFBFB;

$alizarin-crimson-11: rgba(215, 33, 48, .11);
$gallery-79: rgba(235, 235, 235, .79);
$black-09: rgba(0, 0, 0, .09);

$max-mobile-width: 767px;
